<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle Financeiro</title>
</head>
<body>
    {{> header}}
    <main>
    <section>
        <ul>
    {{#each test}}
        <li>{{this.text}}<button onclick="update(this)" data-id='{{this.id}}' data-text = {{this.text}}>Update</button><a href="/delete/{{this._id}}">Delete</a></li>
    {{/each}}
        </ul>
    </section>
        <form action="/save" method="POST">
            <input type="text" placeholder="Nome" name='text'>
            <button type="submit">Submit</button>
        </form>
        <form action="" method="POST">
            <input type="text" placeholder="Update" name='text'>
            <button type="submit">Update</button>
        </form>
    </main>
    {{> footer}}
    <script>
        function update(el){
            const updateForm = document.querySelector('form:last-child');
            const updateFormInput = document.querySelector('form:last-child input');
            updateFormInput.value = el.dataset.text;
            updateForm.setAttribute('action',`/update/${el.dataset.id}`);
        }
    </script>
</body>
</html>