/* body{
    background-color: red;
} */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto 5em;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  form{
    margin: 0 auto 5em;
  }

  tr td.cell:first-child:before, #gasto-total:before, #gasto-disponivel:before{
    content: 'R$ ';
  }